<mat-card class="example-card" class="center">
    <mat-card-header>
      <mat-card-title>Petra</mat-card-title>
      <mat-card-subtitle>World Wonder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="\assets\images\Petra.jpg" style="width: 50%;" alt="Petra">
    <mat-card-content>
      <p>
        Petra is a famous archaeological site in Jordan's southwestern desert. Dating to around 300 B.C.,
        it was the capital of the Nabatean Kingdom. Accessed via a narrow canyon called Al Siq, it contains 
        tombs and temples carved into pink sandstone cliffs, earning its nickname, the "Rose City." Perhaps
        its most famous structure is 45m-high Al Khazneh, a temple with an ornate, Greek-style facade, and known as The Treasury.
      </p>
    </mat-card-content>
  </mat-card>
  