<mat-card class="example-card" class="center">
    <mat-card-header>
      <mat-card-title>Colosseum</mat-card-title>
      <mat-card-subtitle>World Wonder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="\assets\images\Colosseum.jpg" style="width: 50%;"alt="Colosseum">
    <mat-card-content>
      <p>
        The Colosseum or Coliseum, also known as the Flavian Amphitheatre, 
        is an oval amphitheatre in the centre of the city of Rome, Italy. 
        Built of travertine limestone, tuff, and brick-faced concrete, it 
        was the largest amphitheatre ever built at the time and held 50,000 to 80,000 spectators.
      </p>
    </mat-card-content>
  </mat-card>
  