<mat-card class="example-card" class="center">
    <mat-card-header>
      <mat-card-title>Christ the Redeemer</mat-card-title>
      <mat-card-subtitle>World Wonder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="\assets\images\Christ_the_redeemer.jpg" style="width: 50%;" alt="Christ the redeemer">
    <mat-card-content>
      <p>
        Christ the Redeemer is an Art Deco statue of Jesus Christ in Rio de Janeiro, Brazil, 
        created by French sculptor Paul Landowski and built by Brazilian engineer Heitor da Silva Costa, 
        in collaboration with French engineer Albert Caquot. Romanian sculptor Gheorghe Leonida fashioned the face.
      </p>
    </mat-card-content>
  </mat-card>
  