<mat-card class="example-card" class="center">
    <mat-card-header>
      <mat-card-title>TajMahal</mat-card-title>
      <mat-card-subtitle>World Wonder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="\assets\images\Taj_Mahal.jpg" style="width: 50%;" alt="TajMahal">
    <mat-card-content>
      <p>
        The Taj Mahal is an ivory-white marble mausoleum on the southern bank of the river Yamuna in the Indian city of Agra.
        It was commissioned in 1632 by the Mughal emperor Shah Jahan to house the tomb of his favourite wife, Mumtaz Mahal; 
        it also houses the tomb of Shah Jahan himself
      </p>
    </mat-card-content>
  </mat-card>
  